{% extends 'base.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}

	<div class="d-flex flex-column align-items-center text-center">
		<h1 class="m-3">Jouez à Mo Mot Mots Motus!</h1>
		<div class="d-flex m-2">
			<label class="form-label mt-1 text-nowrap" for="difficulte">Choix de la difficulté :&nbsp;
			</label>
			<select id="difficulte" class="form-select form-select-sm" name="difficulte">
				<option value="6">Mots de 6 lettres</option>
				<option value="7">Mots de 7 lettres</option>
				<option value="8">Mots de 8 lettres</option>
			</select>
		</div>
		<div id="game" class""></div>
		<div id="gameMsg" class="fs-2 fw-medium"></div>
		<div id="suggestionFrame">
			<form action="">
				<label class="form-label" for="suggestion">Votre suggestion :</label><br>
				<input id="suggestion" class="form-control" type="text" minlength="6" maxlength="6" autocomplete="off" required>
				<div id="msg" class="mt-1"></div>
				<button id="validation" class="btn btn-success hidden mt-2 mb-5" type="submit">Valider
					<i class="bi bi-check-lg"></i>
				</button>
			</form>
		</div>
		<div>
			<button id="replay" type="button" class="btn btn-primary mt-2 hidden">Rejouer<i class="bi bi-arrow-clockwise ms-1"></i>
			</button>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="module" src="{{asset('assets/js/motus.js')}}"></script>
{% endblock %}
