<footer class="fixed-bottom d-flex justify-content-center bg-dark text-secondary pt-1">
	<hr>
	<section>Un jeu du Motus recrée par brnguyen
		<a href="https://brnguyen.fr">brnguyen.fr</a>
	</section>

</footer>
